# Mean and Median

In [1]:
import pandas as pd

In [4]:
sales = pd.read_csv('./data/sales_subset.csv', index_col=0)

In [5]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [9]:
sales['weekly_sales'].mean()

23843.95014850566

In [10]:
sales['weekly_sales'].median()

12049.064999999999

In [11]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [12]:
max(sales['date'])

'2012-10-26'

In [13]:
min(sales['date'])

'2010-02-05'

# Efficient summaries

In [14]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

In [15]:
sales['temperature_c'].agg(iqr)

16.583333333333336

In [16]:
sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr)

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [18]:
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)


sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median])

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

# Cumulative statistics

In [20]:
sales_1_1 = pd.read_csv('./data/sales_subset.csv', index_col=0)

In [21]:
sales_1_1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [23]:
sales_1_1 = sales_1_1.sort_values('date')

In [24]:
sales_1_1['cum_weekly_sales'] = sales['weekly_sales'].cumsum()

sales_1_1['cum_max_sales'] = sales['weekly_sales'].cummax()

In [27]:
sales_1_1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales,cum_max_sales
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,2.492450e+04,24924.50
6437,19,A,13,2010-02-05,38597.52,False,-6.133333,0.780365,8.350,1.629610e+08,293966.05
1249,2,A,31,2010-02-05,3840.21,False,4.550000,0.679451,8.324,2.668539e+07,140504.41
6449,19,A,14,2010-02-05,17590.59,False,-6.133333,0.780365,8.350,1.633879e+08,293966.05
6461,19,A,16,2010-02-05,4929.87,False,-6.133333,0.780365,8.350,1.635954e+08,293966.05

# Counting