In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# List of dictionaries

In [5]:
avocados_list = [
    {"date":"2019-11-03", "small_sold":10376832, "large_sold":7835071},
    {"date":"2019-11-10", "small_sold":10717154, "large_sold":8561348}
]
avocados_list

[{'date': '2019-11-03', 'small_sold': 10376832, 'large_sold': 7835071},
 {'date': '2019-11-10', 'small_sold': 10717154, 'large_sold': 8561348}]

In [6]:
avocados_2019 = pd.DataFrame(avocados_list)

avocados_2019

         date  small_sold  large_sold
0  2019-11-03    10376832     7835071
1  2019-11-10    10717154     8561348

# Dictionary of lists

In [7]:
avocados_dict = {
  "date": ["2019-11-17", "2019-12-01"], "small_sold": [10859987, 9291631],
  "large_sold": [7674135, 6238096]
}

In [10]:
avocados_20199 = pd.DataFrame(avocados_dict)

avocados_20199

         date  small_sold  large_sold
0  2019-11-17    10859987     7674135
1  2019-12-01     9291631     6238096