In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from empiricaldist import Pmf

# Make a PMF

In [2]:
gss = pd.read_hdf('data/gss.hdf5')

In [3]:
gss.head()

   year   age  cohort  sex  race  educ  realinc  gunlaw  grass  wtssall
0  1972  26.0  1946.0    1     1  18.0  13537.0     2.0    NaN   0.8893
1  1972  38.0  1934.0    2     1  12.0  18951.0     1.0    NaN   0.4446
2  1972  57.0  1915.0    1     1  12.0  30458.0     1.0    NaN   1.3339
3  1972  61.0  1911.0    2     1  14.0  37226.0     1.0    NaN   0.8893
4  1972  59.0  1913.0    1     1  12.0  30458.0     2.0    NaN   0.8893

In [4]:
pmf_year = Pmf(gss['year'])
pmf_year

0        1972
1        1972
2        1972
3        1972
4        1972
         ...
62461    2016
62462    2016
62463    2016
62464    2016
62465    2016
Name: , Length: 62466, dtype: int64

In [5]:
age = gss['age']
age.head()

0    26.0
1    38.0
2    57.0
3    61.0
4    59.0
Name: age, dtype: float64

In [6]:
pmf_age = Pmf(age)
pmf_age.head()

0    26.0
1    38.0
2    57.0
Name: , dtype: float64

# Make a CDF

In [7]:
from empiricaldist import Cdf

In [8]:
gss.head()

   year   age  cohort  sex  race  educ  realinc  gunlaw  grass  wtssall
0  1972  26.0  1946.0    1     1  18.0  13537.0     2.0    NaN   0.8893
1  1972  38.0  1934.0    2     1  12.0  18951.0     1.0    NaN   0.4446
2  1972  57.0  1915.0    1     1  12.0  30458.0     1.0    NaN   1.3339
3  1972  61.0  1911.0    2     1  14.0  37226.0     1.0    NaN   0.8893
4  1972  59.0  1913.0    1     1  12.0  30458.0     2.0    NaN   0.8893

In [9]:
age = gss['age']

In [10]:
age.head()

0    26.0
1    38.0
2    57.0
3    61.0
4    59.0
Name: age, dtype: float64

In [15]:
cdf_age = Cdf(age)
cdf_age.head()

0    26.0
1    38.0
2    57.0
Name: , dtype: float64

In [13]:
cdf_age(30)

array(27.)

# Comparing distributions

# Modeling distributions

# Distribution of income