In [3]:
import pandas as pd

In [4]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [6]:
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)

In [7]:
cars.head()

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200

In [8]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

In [10]:
cars.index=row_labels

In [11]:
cars.head()

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

# Part 2

In [13]:
cars['cars_per_cap']

US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [14]:
cars[['cars_per_cap']]

     cars_per_cap
US            809
AUS           731
JPN           588
IN             18
RU            200
MOR            70
EG             45

In [17]:
cars[['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [18]:
cars[0:5]

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

In [19]:
cars.loc['RU']

country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object

In [20]:
cars.loc[['RU']]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [21]:
cars.iloc[[4]]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [22]:
cars.head()

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

In [25]:
cars.loc['IN', 'cars_per_cap']

18

In [26]:
cars.loc[['IN', 'RU'], 'cars_per_cap']

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [29]:
cars.loc[:, 'country']

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [30]:
cars.loc[:, ['country','drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

# Filtering

In [33]:
cars.head()

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

In [36]:
dr = cars['drives_right']
dr

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [37]:
sel = cars[dr]
sel

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [40]:
xel = cars[cars['drives_right']]
xel

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [41]:
cars.head()

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

In [45]:
import numpy as np

In [47]:
np.logical_and(cars[cars['drives_right']==True], cars[cars['cars_per_cap'] > 600])

C:\Users\acer\AppData\Local\Temp\ipykernel_8028\1466602448.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  np.logical_and(cars[cars['drives_right']==True], cars[cars['cars_per_cap'] > 600])

ValueError: operands could not be broadcast together with shapes (4,3) (2,3)